@if (Context.Session.GetString("UserName") != null)
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout (@Context.Session.GetString("UserName"))</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
