@model SupportLink.Models.Feedback

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SupportId" class="control-label">Ticket Name</label>
                @if (ViewBag.LockSupport == true)
                {
                    <select asp-for="SupportId" class ="form-control" asp-items="ViewBag.SupportId" disabled="disabled"></select>
                    <input type="hidden" asp-for="SupportId" />
                    <small class="text-muted">Ticket is preselected from your previous page.</small>
                }
                else
                {
                    <select asp-for="SupportId" class ="form-control" asp-items="ViewBag.SupportId"></select>
                }
            </div>
            <!-- User is set automatically -->
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <!-- CreatedAt is set automatically -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    If you are not satisfied, create new ticket issue <a asp-action="create" asp-controller="SupportTicket">Create new?</a> 
</div>

