@model SupportLink.Models.TicketUpdate

@{
    ViewData["Title"] = "Create";
}

<h1>Update Ticket</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.PreselectedSupportId != null)
            {
                <input type="hidden" asp-for="SupportId" value="@ViewBag.PreselectedSupportId" />
                <div class="mb-3">
                    <label class="form-label">Ticket Name</label>
                    <input type="text" class="form-control" value="#@ViewBag.PreselectedSupportId - @ViewBag.PreselectedTicketName" readonly />
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="SupportId" class="control-label"></label>
                    <select asp-for="SupportId" class ="form-control" asp-items="ViewBag.SupportId"></select>
                </div>
            }
            <!-- UpdatedBy is set automatically -->
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status"
                        asp-items="Html.GetEnumSelectList<SupportLink.Models.UpdateStatus>()"
                        class="form-control">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <!-- UpdatedAt is set automatically -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

